<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS INDEX PAGE</h1>
    <p>Name:{{name}}</p>
    <p>Age:{{age}}</p>
    <p>Married: 
        {% if is_married %}
                
        <span style="margin-left:10px;padding:20px;background-color: red; color:white; border-radius: 10px;">FASGAYA </span>

        {% else %}

        <span style="padding:10px;background-color: cyan; color:blue; border-radius: 10px;">BACHGAYA </span>

        {% endif %}
    </p>
    <p>SKILLS</p>
    {{skills}}
    <hr>
    {% for skill in skills %}
    {% if skill == "Django" %}
    <div style="color:red; background-color: snow;">{{skill}}</div>
    {% else %}
    <div>{{skill}}</div>
    {% endif %}
    

    {% endfor %}




    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="user_name" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Submit</button>

    </form>

</body>
</html>