{% extends 'base.html' %}

{% load static %}


{% block title %}
Person List
{% endblock %}

{% block content %}
    <div class="container mt-5">

        <div class="d-flex flex-row justify-content-center">
            <img src="{% static 'images/burger.png' %}" alt="Burger" srcset="" height="300px" width="auto">
        </div>
        <h1 class="mb-4">Person List</h1>


        <div class="d-flex flex-column flex-md-row justify-content-around">

            <h1><i class="fa-solid fa-person"></i> MALE COUNT <span class="badge bg-primary">{{male_count}}</span></h1>
            <h1> <i class="fa-solid fa-person-dress"></i> FEMALE COUNT <span class="badge bg-secondary">{{female_count}}</span></h1>
    
        </div>

        
        <a href="{% url 'person_list' %}" class="btn btn-outline-primary mb-3">Clear Filter <i class="fa-solid fa-xmark"></i></a>
        <a href="{% url 'create_person' %}" class="btn btn-primary mb-3">Create Person <i class="fa-solid fa-plus"></i></a>
        

        {% for person in persons %}

                {% if person.gender == "MALE" %}
                <div class="card mb-3" style="background-color: #007bff; color: white;">
                    <div class="card-body">
                        <p>##{{person.id}}</p>
                        <p><i class="fas fa-user"></i> Name: <strong>{{ person.name }}</strong></p>
                        <p><i class="fas fa-envelope"></i> Email: <strong>{{ person.email }}</strong></p>
                        <p><i class="fas fa-phone"></i> Phone: <strong>{{ person.phone }}</strong></p>
                        <p><i class="fas fa-home"></i> Address: <strong>{{ person.address }}</strong></p>
                        <p><i class="fas fa-birthday-cake"></i> Age: <strong>{{ person.age }}</strong></p>
                        <p><i class="fas fa-venus-mars"></i> GENDER: <strong>{{ person.gender }}</strong></p>
                        <a href="{% url 'update_person' person.id %}" class="btn btn-warning mb-3">Update Person</a>
                        <a href="{% url 'delete_person' person.id %}" class="btn btn-danger mb-3">Delete Person</a>
                    </div>
                </div>
                {% else %}
                <div class="card mb-3" style="background-color: #ffc0cb; color: black;">
                    <div class="card-body">
                        <p>##{{person.id}}</p>
                        <p><i class="fas fa-user"></i> Name: <strong>{{ person.name }}</strong></p>
                        <p><i class="fas fa-envelope"></i> Email: <strong>{{ person.email }}</strong></p>
                        <p><i class="fas fa-phone"></i> Phone: <strong>{{ person.phone }}</strong></p>
                        <p><i class="fas fa-home"></i> Address: <strong>{{ person.address }}</strong></p>
                        <p><i class="fas fa-birthday-cake"></i> Age: <strong>{{ person.age }}</strong></p>
                        <p><i class="fas fa-venus-mars"></i> GENDER: <strong>{{ person.gender }}</strong></p>
                        <a href="{% url 'update_person' person.id %}" class="btn btn-warning mb-3">Update Person</a>
                        <a href="{% url 'delete_person' person.id %}" class="btn btn-danger mb-3">Delete Person</a>
                    </div>
                </div>
                {% endif %}

        {% endfor %}
    </div>
{% endblock %}